@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
p, span{
    font-family: 'Roboto Slab', serif;
}
a, label, input, select,button{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}
#loadedImg {
    max-height: 250px;
    max-width: 250px;
    display: none;
}

header {
    padding: 20px 0 10px;
    background-color: #EE7840;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 12px rgb(131, 130, 130);
}
header nav {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
header nav li {
    display: inline-block;
    padding: 10px 30px;
    font-size: 22px;
    margin-top: 10px;
    /* background-color:  #F0DAC0; */
}
header nav img {
    max-width: 250px;
}
header nav li a {
    color: white;
    text-decoration: none;

}
header nav li:hover {
    border-bottom: 3px solid white;
    /* box-shadow: 0 0px 2px rgb(131, 130, 130); */
}

footer {
    background-color: #1D1B21;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
}
.banner {
    /* background-image: url('https://wallpaperstock.net/laptop-macbook-iphone-apple_wallpapers_54218_852x480.jpg'); */
    height: 75vh;
    background-size: cover;
    background-image: radial-gradient(rgba(0,0,0,0.15)20%, rgba(0,0,0, 1)), url('../img/cover.jpg');
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}
.banner h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}
.banner a {
    background-color: #EE7840;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(84 84 84 / 86%);

}
main {
    /* padding-top: 103px; */
}

.index-about-blog {
    background-color: #f9f4ef;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.index-about,
.index-blog {
    width: 50%;
}

.index-about-inner,
.index-blog-inner {
    padding: 0 6%;
}
.index-about-title h2 {
    padding: 0 20px 6px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid #EE7840;
    margin-bottom: 30px;
    font-weight: bold;
}

.index-about-title {
    text-align: center;
}

.index-about-text p,
.index-blog-text p {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}
.index-about-text ,
.index-blog-text {
box-shadow: 4px 4px 10px #9E9E9E;
}
.index-blog-text p {
    max-height: 120px;
    overflow: hidden;
}
.index-about-text,
.index-blog-text {
    /*border: 3px solid #EE7840;*/
    padding: 20px 15px;
    border-radius: 15px;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
}

.index-blog-btn a,
.index-about-btn a {
    background-color: #EE7840;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    /* box-shadow: 3px 3px 6px rgb(84 84 84 / 86%); */
}
.blogContentDiv, .blogRightDiv img{
box-shadow: 4px 4px 10px #9E9E9E;
border-radius: 15px;
}

.index-blog-btn,
.index-about-btn {
    text-align: center;
    margin: 25px 0 13px;
}

.index-blog-btn a:first-child {
    margin-right: 10px;
}

.index-blog-blogger,
.index-blog-category {
    display: flex;
    font-size: 18px;
}

.index-blog-category-blogger {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.index-blog-title h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #EE7840;
    font-weight: bold;
}

.index-blog-category-blogger span {
    margin-right: 5px;
    color: #EE7840;
}

.index-blog-blogger h6,
.index-blog-category h6 {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.8);
}

#leftSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    background-image: linear-gradient(to right,rgba(246, 169, 112,0.3) 10%, rgb(46, 26, 10)), url('https://c.pxhere.com/images/89/01/c0c88ec3311492c7bc249a322c9c-1458685.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px 50px;

}

#createForm {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    display: block;
    padding: 30px;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0 6px 18px rgb(0, 0, 0);
    color: white;
}
#createForm h1 {
    text-align: center;
    padding: 0px 20px 6px;
    font-size: 30px;
    border-bottom: 3px solid #EE7840;
    display: inline-block;
    margin-bottom: 20px;
}
.createFromTitle{
    text-align: center;
}
#createForm label,
#createForm input {
    display: block;

}
#createForm textarea {
    width: 100%;
    resize: none;
    /* border: 1.5px solid #fa8752; */
    border-radius: 0.8rem;

}

#createForm div {
    margin-bottom: 15px;
}
#createForm label {
    margin-bottom: 5px;

}
#createForm input,
#createForm select {
    width: 90%;
    /* border: 1.5px solid #fa8752; */
    border-radius: 8px;
    height: 25px;
}

#createForm select {
    padding: 1px 2px;
    height: 30px;

}
.formRow {
    display: flex;
}
.formRow div {
    width: 50%;
}
#createForm button {

    margin: 0 auto;
    display: block;
    background-color: #EE7840;
    color: white;
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
}
.categoryForm-div {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
#categoryForm {
    margin: auto;
}
.blogContentRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.blogRightDiv img {
    max-width: 250px;
    max-height: 250px;
}
.blogRightDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#blogEverything,
#favoriteBlogs {
    width: 900px;
    margin: auto;
    padding: 0 0 60px;
}
.categoryMain {
    background-color: #f9f4ef;
}
.blogLeftDiv {
    width: 65%;

}
.blogContentDiv p {
    height: 100px;
    overflow: hidden;
}
.blogContentDiv {
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px;
    color: rgba(0, 0, 0, 0.8);
}
.blogTitleDiv h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #EE7840;
    font-weight: bold;
}
.blogCatAndBlogger {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.bloggerNameDiv,
.blogCatDiv {
    display: flex;
    font-size: 18px;
}

.bloggerNameDiv span,
.blogCatDiv span {
    margin-right: 5px;
    color: #EE7840;

}
.bloggerNameDiv h6,
.blogCatDiv h6 {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.8);
}

.readMoreButton button {
    background-color: #EE7840;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}
.readMoreButton {
    text-align: center;
}
.favoriteBlogMain {
    background-color: #f9f4ef;
}
#favoriteBlogs {
    padding-top: 50px;
    min-height: 80vh;
}
#blogEverything {
    min-height: 80vh;
}
.readMoreButton button:first-child {
    margin-right: 10px;
}

.hidden{
    display: none;
}

.membersSection{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px ;
    background-color: #f9f4ef;
}
.member img {
    max-height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0px auto 20px;
box-shadow: 4px 4px 10px #9E9E9E;
}
.innerMember{
    padding: 0px 20px;
}
.member{
    width: 25%
}
.member p{
    font-size: 18px;
    text-align: center;
}
.member p span{
    color:  #EE7840 ;
    font-weight: bold;
}
p{
    line-height: 1.3;
}
.intro{
    display: flex;
    justify-content: space-between;
}
.aboutText{
    width: 50%;
    padding-top: 5px;
    
}
.aboutLogo-Slogan{
    width : 40%;
}
.aboutLogo-Slogan .logo{
width: 300px;
display: block;
margin: auto;
}
.page-banner{
    padding: 200px 0px 80px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url('../img/banner6.jpg') ;

    background-position: top;
    background-size: cover;
}
.page-banner h1{
    font-size: 60px;
    text-align: center;
    color: white;
}
.aboutLogo-Slogan h3{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    
}
.intro{
    padding: 60px 0px;
}
.aboutText h2 {
text-align: center;
color:  rgba(0, 0, 0, 0.8);
font-weight: bold;
font-size: 25px;
padding: 0px 20px 6px;
border-bottom: 3px solid #EE7840;
display: inline-block;
margin-bottom: 30px;
}
.aboutText{
    text-align: center;
}
.aboutProject p,.aboutTeam p {
    color: rgba(0, 0, 0, 0.712);
    text-align: justify;
   
    font-size: 18px;
}
.aboutProject{
    margin-bottom: 30px;
}
.about-divider{
    width: 200px;
    border-top: 2px solid #EE7840 ;
}
.aboutProject,.aboutTeam {
    padding: 0px 80px 0px 0px ;
} 

 #categoryForm{
    background-color: #1a191bce;
    padding: 10px 40px;
    border-radius: 10px;
    width: 800px;
    display: flex;
    justify-content: center;
    
}
#categoryForm label{
    color: white;
    margin-right: 20px;
    font-size: 20px;
    padding-top: 7px;

}
#categoryForm button{
    background-color: #EE7840;
    color: white;
    padding: 10px 70px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 50px;
}

#categoryForm #selectCat{
    font-size: 16px;
    padding: 5px;
    width: 300px;
    font-family: 'Roboto Slab';}
.categoryForm-div{
    margin-bottom: 50px;
}

.allContentDiv{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
}
.blogger-name, .blog-category{
display: flex;
font-size: 18px;
color: rgba(0, 0, 0, 0.8);
text-transform: capitalize;

}
.blogger-name{
    margin-bottom: 15px;
}
.blogger-name span, .blog-category span{
margin-right: 5px;
color: #EE7840;
}
.allContentSection{
    padding-top: 40px;
    padding-bottom: 30px;
    width: 1000px;
    margin: auto;
}
.blog-page-main{
    background-color: #f9f4ef;
}
.blog-btns button {
    background-color: #EE7840;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    margin-top: -10px;
    
    
}
.blog-btns{
    padding-right: 30px;
}
.contentSection{
display: flex;
justify-content: space-between;
width: 1000px;
margin: auto;
padding-bottom: 60px;

}

.blog-content{
width: 70%;
} 
.blog-image{
   width: 30%;
 
}
.blog-image img{
max-width: 300px;
border-radius: 15px;
box-shadow: 4px 4px 10px #9E9E9E;
}
.blog-content p{
    padding-right: 30px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
}
#singleBlogName{
    text-transform: capitalize;
}
.empty-message {
    text-align: center;
    font-size: 25px;
    color: #EE7840;
    background-color: rgba(255,255,255, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}